<p>ladycloth works!</p>

<div class="main-card">
    <img  src="https://m.media-amazon.com/images/G/31/img2020/fashion/WA_2020/Gateway/apparelmin50/EOSS-Min50._CB410624090_.jpg" alt="Image">
   
</div>
<div class="container-fluid">

    <div class="card-container2">
    
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://rukminim2.flixcart.com/image/850/1000/xif0q/dress/q/k/g/m-anarkali-western-party-wear-ethnic-belt-poly-crepe-ladies-original-imaghdfy9hhhxnyz.jpeg?q=20&crop=false" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Rolex Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

       
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://www.shreejeesuits.com/images/products/ladies-dress-material.webp" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch </h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

  
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWJTLI82BfYwsi1chDfCzA__T79e7rkagFnw&s" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">jaeger-Lecoultre WWTC watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://i.pinimg.com/236x/6c/06/89/6c0689435f90c190f7307ce7859a5543.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://www.shutterstock.com/image-photo/angry-businesswoman-dressed-black-isolated-260nw-184875146.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Wrist Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="card-container2">
    
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://img.freepik.com/premium-photo/beautiful-elegant-evening-women-s-dress-white-background_236836-26253.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Rolex Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

       
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://m.media-amazon.com/images/I/81w4oVCoxcL._SX569_.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch </h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

  
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img src="https://5.imimg.com/data5/SELLER/Default/2020/11/DO/MU/UH/48315824/designer-kurti-250x250.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">jaeger-Lecoultre WWTC watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://rukminim2.flixcart.com/image/850/1000/k8ot7rk0/jean/w/h/v/30-ladiesjeans-60-high-waist-denim-original-imafqn6mcbhyymc6.jpeg?q=90&crop=false" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/30288540/2024/7/22/d654a22f-1b7b-44cd-9677-1761f07fad281721644269907BAESDRoll-UpSleevesDenimShirtStyleTop1.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Wrist Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
