<p>admin-layout works!</p>

<!-- admin-layout.component.html -->
<!-- <div class="admin-container">
    <app-admin-dashbord>
      
  </app-admin-dashbord>
  </div> -->
  <main style="width: 80%;" class="dashboard">
    <h1>Dashboard</h1>
    <div class="dashboard-cards">
        <div class="card">
            <h3>Total Revenue</h3>
            <p>$82,650</p>
        </div>
        <div class="card">
            <h3>Total Orders</h3>
            <p>1645</p>
        </div>
        <div class="card">
            <h3>Total Customers</h3>
            <p>1462</p>
        </div>
        <div class="card">
            <h3>Pending Deliveries</h3>
            <p>117</p>
        </div>
    </div>
</main> 
