<app-header (searchEvent)="onSearch($event)"></app-header>

<div class="card-container">
    <!-- Image Section with Buttons Overlay -->
    <div class="image-container">
      <img src="https://www.krishnawatch.com/cdn/shop/files/mobile.jpg?v=1737979636&width=1500" alt="Product Image" class="image" />
      
      <!-- Buttons on Image -->
      <div class="overlay-buttons">
        <button class="btn btn-blue" routerLink="/menswatch">Mens Watch</button>
        <button class="btn btn-green" routerLink="/ladieswatch">Ladies Watch</button>
      </div>
    </div>
  </div>





  <div class="container-fluid">
    <div class="card-container2">
        
    
        <div class="card mx-auto pt-4"  *ngFor="let product of filteredProducts">
            <div class="image-container">
                <div class="sale-btn" *ngIf="product.sale">SALE</div> 
              <img [src]="product.img" alt="{{ product.name }}">
            </div>
            <p class="discount-label" *ngIf="product.discount > 0">
                🔥 {{ product.discount }}% OFF!
              </p>
            <div class="card-body text-center">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                <del *ngIf="product.discount">₹{{ product.price }}</del> 
                ₹{{ getFinalPrice(product) }}
              </p>
              
          
              <div *ngIf="cartMap[product.id]; else addCartBtn">
                <p>🛒 In Cart: {{ cartMap[product.id].quantity }}</p>
                <button class="update-cart-btn" (click)="increaseQuantity(product)">➕</button>
                <button class="update-cart-btn" (click)="decreaseQuantity(product)">➖</button>
              </div>
          
              <ng-template #addCartBtn>
                <div class="card-footer">
                  <button class="add-to-cart-btn" (click)="addToCart(product)">
                    🛒 Add to Cart
                  </button>
                </div>
              </ng-template>
          
            </div>
          </div>
          
  <!-- <div class="container-fluid">

    <div class="card-container2">
    
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://www.lumbers.co.uk/media/catalog/product/cache/1d0d90599f0659951c2bddfe85708221/0/1/0166333_1_1.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Omega mens Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

       
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9xUc5BFpOCGbXb0jSt6J8bdDNK5VGuenQPeOTefaTiAJVrLEHKtjDBXfWPgrkiQyFcyA&usqp=CAU" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Gucci mensr</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

  
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dw00d4f44c/images/Titan/Catalog/90146SL01_1.jpg?sw=800&sh=800" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Titan Quiz</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://artoftimeindia.com/cdn/shop/products/RB0139211G1P1_600x.jpg?v=1655820445" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Breitling mens watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://img.tatacliq.com/images/i18//658Wx734H/MP000000021613428_658Wx734H_202406301654001.jpeg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">cartier mens </h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="card-container2">
    
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://www.horbiter.com/wp-content/uploads/2023/08/iwc-portugieser-wristwatch-1954.jpeg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Sofa Chaiiwc watches</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

       
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJOAVldJ9FjYu6rNrrXkt9mEnAb0_4rUEvW8LB9yKVRf1GU-kg9UBf-_0DFA-faLMzJJM&usqp=CAU" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Audi top piguet </h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

  
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img src="https://images.vestiairecollective.com/images/resized/w=1246,q=75,f=auto,/produit/silver-steel-jaeger-lecoultre-watch-35671343-1_3.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">jaeger-Lecoultre WWTC watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://img.tatacliq.com/images/i17//437Wx649H/MP000000022124162_437Wx649H_202405102124041.jpeg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://gutereise.in/cdn/shop/files/241988.1_1_800x.jpg?v=1698828630" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Wrist Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</div>
