<app-header (searchEvent)="onSearch($event)"></app-header>

<div class="main-card">
    <img  src="https://m.media-amazon.com/images/G/31/img2020/fashion/WA_2020/Gateway/apparelmin50/EOSS-Min50._CB410624090_.jpg">
</div>
<div class="container-fluid">
    <div class="card-container2">
        
    
        <div class="card mx-auto pt-4"  *ngFor="let product of filteredProducts">
            <div class="image-container">
                <div class="sale-btn" *ngIf="product.sale">SALE</div> 
              <img [src]="product.img" alt="{{ product.name }}">
            </div>
            <p class="discount-label" *ngIf="product.discount > 0">
                🔥 {{ product.discount }}% OFF!
              </p>
            <div class="card-body text-center">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                <del *ngIf="product.discount">₹{{ product.price }}</del> 
                ₹{{ getFinalPrice(product) }}
              </p>
              
          
              <div *ngIf="cartMap[product.id]; else addCartBtn">
                <p>🛒 In Cart: {{ cartMap[product.id].quantity }}</p>
                <button class="update-cart-btn" (click)="increaseQuantity(product)">➕</button>
                <button class="update-cart-btn" (click)="decreaseQuantity(product)">➖</button>
              </div>
          
              <ng-template #addCartBtn>
                <div class="card-footer">
                  <button class="add-to-cart-btn" (click)="addToCart(product)">
                    🛒 Add to Cart
                  </button>
                </div>
              </ng-template>
          
            </div>
          </div>
          
<!-- <div class="container-fluid">

    <div class="card-container2">
    
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://images.meesho.com/images/products/306851998/d8ay1_512.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Rolex Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

       
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://assets.ajio.com/medias/sys_master/root/20210404/gWyc/606a14247cdb8c1f149237b1/-473Wx593H-461398279-black-MODEL.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch </h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

  
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img src="https://www.textileinfomedia.com/img/eunb/formal-wear-strip-design-mens-shirt-full.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">jaeger-Lecoultre WWTC watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://www.designer-mart.com/cdn/shop/files/designer-mart-glamorous-men-shirts-designer-mart-1.jpg?v=1689348489" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>

                <img  src="https://images.meesho.com/images/products/415172169/yewqb_512.webp" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Wrist Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="card-container2">
    
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://cottonworld.net/cdn/shop/files/M-PANTS-16181-20961-GREY_1.jpg?v=1734613559" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Rolex Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

       
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://lookagain.scene7.com/is/image/OttoUK/600w/Zip-Off-Cargo-Pants-by-Man%E2%80%99s-World~25430312FRSP.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch </h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

  
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img src="https://jadeblue.com/cdn/shop/files/Y42Z_1.jpg?v=1713266991" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">jaeger-Lecoultre WWTC watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://www.cliths.com/cdn/shop/products/formal-trouser-american-elm-black-slim-fit-formal-trouser-for-men-cotton-formal-pants-for-office-wear-13814398648386_1024x1024.jpg?v=1632806874" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://assets.myntassets.com/w_412,q_60,dpr_2,fl_progressive/assets/images/22208992/2023/3/3/1ca51e6d-8e0c-4bd1-8968-b449c28159101677835710351TrackPants2.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Wrist Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="card-container2">
    
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGoSkDi3a2IEh8c417p_gRwXKNHmAS4UXhxgWBVm_y83-nRWbyuRCfYG5gHPufDKbkjmM&usqp=CAU" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Rolex Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

       
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://m.media-amazon.com/images/I/513vVfcGxjL._SX425_.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch </h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

  
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img src="https://groomzstyle.com/wp-content/uploads/2024/06/51dVRrygWL._SY741_.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">jaeger-Lecoultre WWTC watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://qph.cf2.quoracdn.net/main-qimg-6b274ca6e365d538d6ea3cfb9de017a9-lq" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Smart Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div>

        
        <div class="card mx-auto pt-4">
            <div class="image-container">
                <div class="sale-btn">SALE</div>
                <img  src="https://m.media-amazon.com/images/I/515mQQyAQyL.jpg" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Wrist Watch</h5>
                <p class="card-text">$1,399</p>
                <div class="card-footer">
                    <button class="add-to-cart-btn">
                        🛒 Add to Cart
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</div>
